<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="/assets/css/mainAdmin.css">
    <script src="https://kit.fontawesome.com/e06076012c.js" crossorigin="anonymous"></script>
    <script src="/javascript/angular.min.js"></script>
    <script src="/javascript/jquery-3.6.0.min.js"></script>
    <script src="/javascript/click.js"></script>

    <script src="/javascript/global.js"></script>
    <script src="/javascript/nhaphanphoi.js"></script>
    <title>Quản lý cửa hàng bán máy tính NCC</title>
</head>

<body ng-app="AppAdCayCanh" ng-Controller="NhaPhanPhoiController">
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Danh mục</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button class="active" onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="ThietLap()"><i class="fas fa-cogs"></i> Thiết lập</button>
            </div>
           
            <div class="col-11 col-s-12 content">
                <div class="col-4 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-truck"></i> Nhập thông tin nhà phân phối
                            <hr>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã nhà phân phối:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="manpp"
                                        placeholder="Nhập mã nhà phân phối...Tự động sinh nếu không nhập...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tên nhà phân phối:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="tennpp" placeholder="Nhập tên nhà phân phối...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Địa chỉ:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="diachi" placeholder="Nhập địa chỉ nhà phân phối...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Số điện thoại:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="sdt" placeholder="Nhập số điện thoại nhà phân phối...">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Email:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="email" id="email" placeholder="Nhập email nhà phân phối...">
                                </div>
                            </form>
                        </div>
                        <hr>
                        <button class="btn-form" style="background-color: rgba(44, 140, 15, 0.8);"
                            onclick="ThemNhaPhanPhoi()">Thêm nhà phân phối</button>
                        <button class="btn-form" style="background-color: rgba(227, 32, 21, 0.8);"
                            onclick="NhapMoi()">Nhập mới</button>
                        <button class="btn-form" style="background-color: rgba(14, 87, 224, 0.8);" id="btnUpdate"
                            onclick="CapNhat()">Cập nhật thông tin</button>
                    </div>
                </div>
                <div class="col-8 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-truck"></i> Danh sách nhà phân phối
                            <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                                chọn</button>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="col-10 col-s-12 padding-box">
                                <input type="text" id="search-supplier" placeholder="Nhập mã, tên nhà phân phối...">
                            </div>
                            <div class="col-2 col-s-12 padding-box">
                                <button><i class="fas fas fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-s-12 padding-box">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="padding-top: 10px;"><input type="checkbox"
                                                    onclick="CheckAll(this)"></th>
                                            <th>Mã NPP</th>
                                            <th>Tên nhà phân phối</th>
                                            <th>Địa chỉ</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="npp in listnpp">
                                        <td><input type="checkbox" ng-model="npp.selected"></td>
                                        <td style="text-align: center;">{{npp.manhaphanphoi}}</td>
                                        <td>{{npp.tennhaphanphoi}}</td>
                                        <td>{{npp.diachi}}</td>
                                        <td>{{npp.sodt}}</td>
                                        <td>{{npp.email}}</td>
                                        <td style="text-align: center;">
                                            <i class="fas fa-edit" title="Sửa" data-manpp="{{npp.manhaphanphoi}}" onclick="SuaNPP(this)"></i>
                                            <i class="fas fa-trash-alt" title="Xóa" data-manpp="{{npp.manhaphanphoi}}" onclick="XoaNPP(this)"></i>
                                        </td>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="col-12 col-s-12 padding-box">
                                <div class="box-sum">
                                    <div class="box-left">
                                        Số lượng nhà cung cấp: <span id="soluong">0</span>
                                    </div>
                                    <div class="box-right">
                                        <button><i class="fas fa-angle-left"></i></button>
                                        <button>1</button>
                                        <button>2</button>
                                        <button>3</button>
                                        <button>4</button>
                                        <button><i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>